<% @storage = ShoppingCart.last %>

<% unless @storage.nil? %>
  <p class="text-xl font-extrabold px-3"><%= t "ITEMS IN CART" %> - <%= @storage.total_quantity %></p>
  <p class="text-xl font-extrabold px-3"><%= t "TOTAL PRICE" %> - <%= @storage.total_price %></p>
<% end %>
<%= button_to "CHECKOUT", finalize_shopping_cart_path(locale: params[:locale]), method: :patch, class: "text-xl font-extrabold px-3" %>

