<% @menu_items.each do |dish| %>
    <div class="dish-card">
        <img src='<%= cl_image_path dish.photo.key %>' alt="dish-image">
        <h2><%= dish.name %></h2>
        <% if dish.pieces == 0 && dish.weight == 0 %>
            <p></p>
        <% elsif dish.pieces == 0 %>
            <h4><%= dish.weight %> G</h4>
        <% elsif dish.weight == 0 %>
            <h4><%= dish.pieces %> pieces</h4>
        <% else %>
            <h4><%= dish.pieces %> pieces | <%= dish.weight %> G</h4>
        <% end %>
        <div class="dish-price-container">
            <h5>PRICE</h5>
            <p><%= dish.price %> LEI</p>
        </div>
    </div>
<% end %>
