<nav id="navbar" class="w-full sticky top-0 z-10">
  <button class="mobile-button p-5 lg:hidden" onclick="toggleHidden()">
    <div class="bg-orange-200 w-8 h-1"></div>
    <div class="bg-orange-200 w-8 h-1 my-2"></div>
    <div class="bg-orange-200 w-8 h-1"></div>
  </button>
  <script>
    const toggleHidden = () => {
      const menu = document.getElementById('dropdown-menu');
      // console.log(menu);
      menu.classList.toggle('hidden');
    }
  </script>
  <div class="nav-bar-contents flex justify-between">
    <div id ="menu">
      <div class="hidden lg:px-2 lg:flex lg:flex-row lg:py-5">
        <div class="navlink mx-3 pt-2 px-3 text-xl font-extrabold border-2 border-transparent rounded-xl transition duration-200 hover:ease-in hover:text-zinc-900 hover:bg-orange-200 hover:border-2 hover:border-orange-200 cursor-pointer" data-action="click->menu-jump#scrollToMenu"><%= t "MENU" %></div>
        <div class="navlink mx-3 pt-2 px-3 text-xl font-extrabold border-2 border-transparent rounded-xl transition duration-200 hover:ease-in hover:text-zinc-900 hover:bg-orange-200 hover:border-2 hover:border-orange-200 cursor-pointer" data-action="click->menu-jump#scrollToDelivery"><%= t "DELIVERY" %></div>
        <div class="navlink mx-3 pt-2 px-3 text-xl font-extrabold border-2 border-transparent rounded-xl transition duration-200 hover:ease-in hover:text-zinc-900 hover:bg-orange-200 hover:border-2  hover:border-orange-200 cursor-pointer" data-action="click->menu-jump#scrollToGallery"><%= t "GALLERY" %></div>
        <%= link_to t("CONTACT"), contacts_path(locale: params[:locale]), class: "navlink mx-3 pt-2 px-2 text-xl font-extrabold text-orange-200 no-underline transition duration-200 hover:ease-in rounded-xl hover:text-zinc-900 border-2 border-transparent hover:bg-orange-200 hover:border-2  hover:border-orange-200" %>
        <%= link_to t("BOOK"), reservations_path(locale: params[:locale]), class: "navlink  mx-3 pt-2 text-xl font-extrabold px-3 transition duration-200 hover:ease-in hover:text-zinc-900 text-orange-200 no-underline rounded-xl border-2 border-transparent  hover:border-2 hover:bg-orange-200 hover:border-orange-200" %>
      </div>
    </div>
    <div class="flex">
      <div class="py-5" data-shopping-cart-target="shoppingCart">
        <%= render "shopping_carts/shopping_cart", shopping_cart: @shopping_cart %>
      </div>
      <div class="flex justify-center items-center pt-2 text-xl font-extrabold px-3 text-orange-200 no-underline">
        <%= form_tag(request.path, method: 'get') do %>
        <%= select_tag 'locale', options_for_select(['en', 'ro'], params[:locale]), onchange: 'this.form.submit();' %>
        <%= submit_tag 'Change Locale', style: 'display: none;' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>

<div id="dropdown-menu" class="hidden transition duration-200 hover:ease-in flex flex-col text-left px-0 pb-5">
  <div class="navlink mx-3 pt-2 px-3 text-xl font-extrabold border-2 border-transparent rounded-xl transition duration-200 hover:ease-in hover:text-zinc-900 hover:bg-orange-200 hover:border-2 hover:border-orange-200 cursor-pointer" data-action="click->menu-jump#scrollToMenu"><%= t "MENU" %></div>
  <div class="navlink mx-3 pt-2 px-3 text-xl font-extrabold border-2 border-transparent rounded-xl transition duration-200 hover:ease-in hover:text-zinc-900 hover:bg-orange-200 hover:border-2 hover:border-orange-200 cursor-pointer" data-action="click->menu-jump#scrollToDelivery"><%= t "DELIVERY" %></div>
  <div class="navlink mx-3 pt-2 px-3 text-xl font-extrabold border-2 border-transparent rounded-xl transition duration-200 hover:ease-in hover:text-zinc-900 hover:bg-orange-200 hover:border-2  hover:border-orange-200 cursor-pointer" data-action="click->menu-jump#scrollToGallery"><%= t "GALLERY" %></div>
  <%= link_to t("CONTACT"), contacts_path(locale: params[:locale]), class: "navlink mx-3 pt-2 px-3 text-xl font-extrabold text-orange-200 no-underline transition duration-200 hover:ease-in rounded-xl hover:text-zinc-900 border-2 border-transparent hover:bg-orange-200 hover:border-2  hover:border-orange-200" %>
  <%= link_to t("BOOK"), reservations_path(locale: params[:locale]), class: "navlink  mx-3 pt-2 text-xl font-extrabold px-3 transition duration-200 hover:ease-in hover:text-zinc-900 text-orange-200 no-underline rounded-xl border-2 border-transparent  hover:border-2 hover:bg-orange-200 hover:border-orange-200" %>
</div>