<h1><%= t "ORDERS" %></h1>
<% @total_price = 0 %>
<% @order_identifier = OrderItem.where(order: @order).all.order(:menu_item_id).each do |identifier| %>
    <% unless identifier.quantity.zero? %>
        <div class="d-flex">
            <% @name = MenuItem.where(id: identifier.menu_item_id).first.name %>
            <% @individual_price = MenuItem.where(id: identifier.menu_item_id).first.price * identifier.quantity %>
            <p><%= @name %> x <%= identifier.quantity %> | <%= @individual_price %></p>
            <% @total_price += @individual_price %>
            <%= form_with(model: identifier, method: :patch) do |form| %>
                <%= form.number_field :quantity %>
                <%= submit_tag t("UPDATE") %>
            <% end %>
        </div>
    <% end %>
<% end %>



<h1><%= t "TOTAL PRICE" %> <%= @total_price %></h1>

<%= form_with url: send_email_path(@order, locale: params[:locale]), method: :post do |form| %>
  <%= form.label :first_name %>
  <%= form.text_field :first_name %>

  <%= form.label :last_name %>
  <%= form.text_field :last_name %>

  <%= form.label :email %>
  <%= form.email_field :email %>

  <%= form.label :phone %>
  <%= form.text_field :phone %>

  <%= form.label :address %>
  <%= form.text_field :address %>

  <%= form.label :remarks %>
  <%= form.text_area :remarks %>

  <%= form.submit t("SEND ORDER") %>
<% end %>
<%= link_to t("CANCEL"), homepage_path(locale: params[:locale]) %>
<%# <%= link_to "Place Order", send_email_path(@order) %> %>