<div class="flex flex-col items-center">
    <%= video_tag @haveli.video, autoplay: true, muted: true, loop: true, class: "contact-video brightness-50 z-0 blur-md" %>
    <div class="backdrop-blur-md w-auto h-screen absolute bg-black opacity-50"></div>
    <div class="container mx-auto flex flex-col justify-center items-center absolute">
        <h1 class="text-4xl p-10"><%= params[:locale] == "en" ? "YOUR ORDER" : "COMANDA TA" %></h1>
        <div class="order-wrapper flex justify-center items-center">
            <div class="order-preview pr-20 ml-10">
            <% @total_quantity = 0 %>
                <% @shopping_cart.shopping_cart_item_ids.each do |id| %>
                    <% @total_quantity += ShoppingCartItem.where(id: id).first.quantity %>

                        <div class="order-card rounded-xl shadow-xl bg-gradient-to-tr mb-5 p-1 from-zinc-900 via-zinc-900 to-red-900 flex flex-col md:flex-row md:pl-5 md:pb-2 md:pt-2 md:pr-2 items-center">
                            <%= image_tag MenuItem.where(id: ShoppingCartItem.where(id: id).first.menu_item_id).first.image %>
                            <% @name = MenuItem.where(id: ShoppingCartItem.where(id: id).first.menu_item_id).first.name %>
                            <% @individual_price = MenuItem.where(id: ShoppingCartItem.where(id: id).first).first.price * ShoppingCartItem.where(id: id).first.quantity %>
                            <div class="flex flex-col p-3">
                                <p class="text-center text-xl md:text-start pb-2 md:pb-2"><%= @name %></p>
                                <div class="dish-form pb-2 md:pb-2">
                                    <% shopping_cart_item = ShoppingCartItem.find(id) %>
                                    <%= form_for shopping_cart_item, url: shopping_cart_item_path(shopping_cart_item), class: "form-with" do |f| %>
                                        <%= f.number_field :quantity %>
                                        <%= submit_tag params[:locale] == "en" ? "UPDATE" : "ACTUALIZARE", class: "update-button" %>
                                    <% end %>
                                </div>
                                <div class="flex justify-between items-center pt-2 md:pt-2">
                                    <p class="text-center md:text-start"><%= params[:locale] == "en" ? "Price" : "Pret" %></p>
                                    <p class="text-center md:text-start"><%= @individual_price %></p>
                                </div>
                                <% @shopping_cart.update!(total_quantity: @total_quantity) %>
                            </div>
                        </div>

                <% end %>
                
                
            </div>
            <div class="order-form border-t-4 pt-20 lg:pt-0 lg:border-t-0 lg:border-l-4 border-orange-200">
                <%= form_with url: send_email_path(@order, locale: params[:locale].downcase), method: :post, class: "sending-form" do |form| %>
                    <div class="input-field flex flex-col">
                        <%= form.label params[:locale] == "en" ? "First name" : "Nume" %>
                        <%= form.text_field :first_name %>
                    </div>
                    <div class="input-field flex flex-col">
                        <%= form.label params[:locale] == "en" ? "Last name" : "Prenume" %>
                        <%= form.text_field :last_name %>
                    </div>
                    <div class="input-field flex flex-col">
                        <%= form.label :email %>
                        <%= form.email_field :email %>
                    </div>
                    <div class="input-field flex flex-col">
                        <%= form.label params[:locale] == "en" ? "Phone" : "Telefon" %>
                        <%= form.text_field :phone %>
                    </div>
                    <div class="input-field flex flex-col">
                        <%= form.label params[:locale] == "en" ? "Address" : "Adresa" %>
                        <%= form.text_field :address %>
                    </div>
                    <div class="input-field flex flex-col">
                        <%= form.label params[:locale] == "en" ? "Remarks" : "Observatii" %>
                        <%= form.text_area :remarks %>
                    </div>
                    <%= invisible_captcha :subtitle, :topic %>
                    <div class="flex flex-col lg:flex-row justify-center items-center my-5">
                        <%= link_to params[:locale] == "en" ? "Forgot something.." : "Am uitat ceva..", homepage_path(locale: params[:locale].downcase), class: "cancel-order-button font-extrabold my-2 mx-2" %>
                        <%= form.submit params[:locale] == "en" ? "ORDER NOW" : "COMANDA ACUM", class: "place-order-button font-extrabold my-2 mx-2" %>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="price-container mx-auto flex justify-start mt-44 mb-10 lg:mt-0 lg:mb-0">
            <h1 class="text-xl font-extrabold"><%= params[:locale] == "en" ? "GRAND TOTAL" : "PRET TOTAL" %> <%= @total_price %></h1>
        </div>
    </div>
</div>