<div data-controller="shopping-cart">
    <%= render 'shared/navbar' %>
    <div class="content">
        <div class="menu-content">
            <div class="menu-container" data-controller="dish-listing">
                <div class="menu-categories">
                    <% @menu.each do |item| %>
                        <%= link_to t(item.name.upcase), homepage_path(menu_id: item.id, locale: params[:locale]), data: { action: 'click->dish-listing#loadDishes' } %>
                    <% end %>
                </div>
                <div class="dish-listing" data-dish-listing-target="dishListing">
                    <% @menu_items.each do |dish| %>
                        <div class="dish-card">
                                <img src='<%= cl_image_path dish.photo.key %>' alt="dish-image">
                                <h2><%= dish.name %></h2>
                                <% Mobility.with_locale(params[:locale]) do %>
                                    <p><%= dish.description %></p>
                                <% end %>
                                <% if dish.pieces == 0 && dish.weight == 0 %>
                                    <p></p>
                                <% elsif dish.pieces == 0 %>
                                    <h4><%= dish.weight %> G</h4>
                                <% elsif dish.weight == 0 %>
                                    <h4><%= dish.pieces %> <%= t "pieces" %></h4>
                                <% else %>
                                    <h4><%= dish.pieces %> <%= t "pieces" %> | <%= dish.weight %> G</h4>
                                <% end %>
                                <%= button_to "Add to cart", shopping_carts_path(menu_item_id: dish.id, locale: params[:locale]), method: :post, data: { action: "click->shopping-cart#addItem", dish_id: dish.id } %>
                                <% @quan = ShoppingCartItem.where(shopping_cart: ShoppingCart.last, menu_item_id: dish.id).first %>
                                <p data-shopping-cart-target="value" data-dish-listing-target="value" data-dish-quantity="<%= @quan.quantity unless @quan.nil?  %>" data-dish-id="<%= dish.id %>">0</p>
                                <%= button_to "Remove from cart", remove_form_shopping_cart_path(menu_item_id: dish.id, authenticity_token: form_authenticity_token, locale: params[:locale]), method: :post, data: { action: "click->shopping-cart#removeItem", dish_id: dish.id } %>
                                
                                <div class="dish-price-container">
                                    <h5><%= t "PRICE" %></h5>
                                    <p><%= dish.price %> LEI</p>
                                </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="delivery-content">
            <h2><%= t "Free delivery in Bucharest!" %></h2>
            <p><%= t "(Within areas Mosilor, Stefan cel mare, Obor, Colentina, Unirii, Iancului, Victoriei, Mihai Bravu, Piata Muncii, Piata Alba Iulia)" %></p>
            <p><%= t "Delivery between" %></p> 
            <p><%= t "Tuesday to Sunday, 12PM and 22PM" %></p>
            <p><%= t "The minimum order is 70 RON" %></p> 
            <p><%= t "The shipping cost will be determined based on the order value and area to be delivered" %></p> 
            <p><%= t "This value will be communicated by the operator when the order is received" %></p> 
            <div style="max-width: 1300px; height: 600px; margin: 0 auto;" data-controller="map" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
        </div>
        <div class="gallery-content">
            <h1> <%= t "PHOTO GALLERY" %></h1>
            <div class="images-display">
                <% @gallery.each do |image| %>
                    <img src='<%= cl_image_path image.image.key %>' alt="images">
                <% end %>
            </div>
        </div>
    </div>
</div>
<%# MenuItem.where(menu: Menu.find(47)).each do |m_item| %>

    <%# Mobility.locale = :en %>
    <%#= form_with model: m_item, url: menu_menu_item_path(@menu, m_item) do |form| %>
    <%#= m_item.name %>

    <%#= form.label :description %>
    <%#= form.text_area :description %>
    <%#= m_item.description %>

    <%#= form.submit %>
    <%# end %>
<%# end %>