<div data-controller="shopping-cart menu-jump">
    <%= render 'shared/navbar' %>
    <div class="relative">
        <video autoplay muted loop class="brightness-50 z-0">
        <source src="<%= cl_video_path(@haveli.video.key, resource_type: "video")%>.mp4" type="video/mp4">
        </video>
        <img class="logo absolute" src="<%= cl_image_path @haveli.logo.key %>.png" alt="">
    </div>
    <div data-controller="dish-listing">
        <div class="invisible h-20 bg-orange-50" data-menu-jump-target="menuSection"></div>
        
        <p class="text-3xl font-extrabold flex justify-center"><%= t "MENU" %></p>
        <div class="menu-section sticky top-20 bg-zinc-900 bg-opacity-60 rounded-xl backdrop-blur-sm drop-shadow-md">
            <div class="menu-bar flex justify-between items-center">
                <button class="mobile-button flex p-5 lg:hidden" onclick="categoriesHide()">
                    <div class="button-object">
                        <div class="bg-orange-200 w-8 h-1"></div>
                        <div class="bg-orange-200 w-8 h-1 my-2"></div>
                        <div class="bg-orange-200 w-8 h-1"></div>
                    </div>
                </button>
                <script>
                    const categoriesHide = () => {
                        const categories = document.getElementById('categories');
                        categories.classList.toggle('hidden');
                    }
                </script>
            </div>
            <div id="categories" class="hidden flex flex-col lg:flex lg:flex-row lg:justify-center lg:items-center">
                <% @menu.each do |item| %>
                    <%= link_to t(item.name.upcase), homepage_path(menu_id: item.id, locale: params[:locale]), data: { action: 'click->dish-listing#loadDishes' }, class: "p-0 font-bold lg:font-extrabold" %>
                <% end %>
            </div>
        </div>

        <div class="filler-div w-full py-10 flex justify-center">
            <div class="dish-listing grid-layout" data-dish-listing-target="dishListing">
                <% @menu_items.each do |dish| %>
                    <div data-dish-id="<%= dish.id %>" class="card shadow-2xl p-5 mb-2 rounded-xl bg-gradient-to-b from-red-900 text-orange-200">
                        <div data-menu-jump-target="descriptionToggle" data-dish-id="<%= dish.id %>">
                          <div style="height: 180px; background-image: url('<%= cl_image_path dish.photo.key %>'); background-size: cover;'" data-menu-jump-target="description" class="hidden rounded-xl shadow-2xl">
                            <p class="blur-text px-2 backdrop-brightness-50 py-2 drop-shadow-xl backdrop-blur-sm rounded-xl text-l font-bold"><%= dish.description %></p>
                          </div>
                          <div data-menu-jump-target="dishImage" style="height: 180px; background-image: url('<%= cl_image_path dish.photo.key %>'); background-size: cover;'" class="rounded-xl shadow-2xl">
                          </div>
                        </div>
                        <%# <p class="text-sm font-bold px-3 py-3"><%= dish.description %>
                        <div class="flex justify-center items-center">
                          <p class="text-md text-center py-2 px-2 font-extrabold"><%= dish.name %></p>
                          <i data-action="click->menu-jump#toggleDescription" data-dish-id="<%= dish.id %>" class="info-icon fa-solid fa-circle-info"></i>
                        </div>
                        <% if dish.pieces == 0 && dish.weight == 0 %>
                            <p class="text-sm text-center font-bold px-3">-</p>
                        <% elsif dish.pieces == 0 %>
                            <p class="text-sm text-center font-bold px-3"><%= dish.weight %> G</p>
                        <% elsif dish.weight == 0 %>
                            <p class="text-sm text-center font-bold px-3"><%= dish.pieces %> <%= t "pieces" %></p>
                        <% else %>
                            <p class="text-sm text-center font-bold px-3"><%= dish.pieces %> <%= t "pieces" %> | <%= dish.weight %> G</p>
                        <% end %>
                        <div class="flex justify-center items-center align-middle pt-3 pb-3">
                            <%= button_to remove_form_shopping_cart_path(menu_item_id: dish.id, authenticity_token: form_authenticity_token, locale: params[:locale]), method: :post, data: { action: "click->shopping-cart#removeItem", dish_id: dish.id }, class: "remove-item text-xl px-3" do %>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                            <% end %>
                            <% @quan = ShoppingCartItem.where(shopping_cart: ShoppingCart.last, menu_item_id: dish.id).first %>
                            <p class="text-xl cursor-default font-bold px-1 mb-2" data-shopping-cart-target="value" data-dish-listing-target="value" data-dish-quantity="<%= @quan.quantity unless @quan.nil?  %>" data-dish-id="<%= dish.id %>">0</p>
                            <%= button_to shopping_carts_path(menu_item_id: dish.id, locale: params[:locale]), method: :post, data: { action: "click->shopping-cart#addItem", dish_id: dish.id }, class: "add-item text-xl px-3" do %>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                            <% end %>
                        </div>
                        <div class="flex justify-between py-2">
                            <p class="text-md font-bold px-3"><%= t "PRICE" %></p>
                            <p class="text-md font-bold px-3"><%= dish.price %> LEI</p>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="delivery-content container mx-auto py-10" data-menu-jump-target="deliverySection">
        <p class="text-center py-10 text-3xl font-extrabold" > <%= t "DELIVERY" %></p>
        <div class="text-center leading-10 text-xl font-bold py-10">
            <h2><%= t "Free delivery in Bucharest!" %></h2>
            <p><%= t "(Within areas Mosilor, Stefan cel mare, Obor, Colentina, Unirii, Iancului, Victoriei, Mihai Bravu, Piata Muncii, Piata Alba Iulia)" %></p>
            <p><%= t "Delivery between" %></p>
            <p><%= t "Tuesday to Sunday, 12PM and 22PM" %></p>
            <p><%= t "The minimum order is 70 RON" %></p>
            <p><%= t "The shipping cost will be determined based on the order value and area to be delivered" %></p>
            <p><%= t "This value will be communicated by the operator when the order is received" %></p>
        </div>
        <div style="max-width: 1300px; height: 600px; margin: 0 auto;" class="rounded-xl shadow-inner" data-controller="map" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
    <div class="container mx-auto" data-menu-jump-target="gallerySection">
        <p class="text-center py-20 text-3xl font-extrabold" > <%= t "PHOTO GALLERY" %></p>
        <div class="grid-div py-10">
            <% @gallery.each do |image| %>
                <img class="rounded-xl shadow-xl" src='<%= cl_image_path image.image.key %>' alt="gallery-images">
            <% end %>
        </div>
    </div>
    <footer class="text-center text-orange-20000" style="background-color: #1c1917;">
        <div class="text-center text-orange-200 p-4" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-orange-200" href="https://www.linkedin.com/in/alihamzaasam/">Alyx</a>
        </div>
    </footer>
</div>
<%# MenuItem.where(menu: Menu.find(1)).each do |m_item| %>

    <%# Mobility.locale = :ro %>
    <%#= form_with model: m_item, url: menu_menu_item_path(@menu, m_item) do |form| %>
    <%#= m_item.name %>

    <%#= form.label :description %>
    <%#= form.text_area :description %>
    <%#= m_item.description %>

    <%#= form.submit %>
    <%# end %>
<%# end %>
