<div class="relative h-full">
    <video autoplay muted loop class="absolute brightness-50 z-0 blur-md">
        <source src="<%= cl_video_path(Restaurant.first.video.key, resource_type: "video")%>.mp4" type="video/mp4">
    </video>
    <div class="absolute">
        <%= link_to homepage_path(locale: params[:locale].downcase) do %>
            <i class="fa-solid fa-arrow-left text-4xl cursor-pointer px-5 pt-5"></i>
        <% end %>
        <p style="font-family: 'Montez', cursive;" class="text-center font-extrabold mx-auto text-5xl py-10"><%= t "Contact us" %></p>
        <div class="contact-form flex justify-center items-center py-20">
            <%= simple_form_for @contact, url: contacts_path do |f| %>
            <div class="full-name flex py-5">
                <%= f.input :first_name, input_html: { class: "mr-5" } %>
                <%= f.input :last_name %>
            </div>
            <div class="email-phone flex pt-5 pb-10">
                <%= f.input :email, input_html: { class: "mr-5" } %>
                <%= f.input :phone %>
            </div>
                <%= f.input :message, input_html: { class: "mb-5"} %>
                <%= f.submit "Submit contact", class: "submit-button" %>
            <% end %>
            <div class="container mx-auto grid grid-rows-2 grid-flow-col gap-10">
                <div class="contact-card p-5">
                    <i class="fa-solid fa-mobile-screen text-4xl"></i>
                    <p class="text-3xl">TELEPHONE</p>
                    <p>Accessible <strong>Tuesday - Sunday from 12:00 PM</strong></p>
                    <p class="text-xl">(+40) 21 211 03 90</p>
                    <p class="text-xl">(+40) 721 721 640</p>
                </div>
                <div class="contact-card p-5">
                    <i class="fa-regular fa-map text-4xl"></i>
                    <p class="text-3xl">ADDRESS</p>
                    <p>Episcopul Radu Street Nr. 3 (Mihai Eminescu Area)</p>
                </div>
                <div class="contact-card p-5">
                    <i class="fa-regular fa-envelope text-4xl"></i>
                    <p class="text-3xl">E-MAIL</p>
                    <p>contact@haveli.ro</p>
                </div>
                <div class="contact-card p-5">
                    <i class="fa-regular fa-clock text-4xl"></i>
                    <p class="text-3xl">OPENING HOURS</p>
                    <p><strong>12:00 PM - 11:00 PM</strong></p>
                    <p><strong>Tuesday to Sunday</strong></p>
                </div>
            </div>
        </div>
        <footer class="footer-forms text-center text-orange-20000 border-t-2 border-dashed border-orange-200" style="background-color: #0F0606;">
            <div class="text-center text-orange-200 p-4" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            <a class="text-orange-200" href="https://www.linkedin.com/in/alihamzaasam/">Ali</a>
            </div>
        </footer>
    </div>
</div>