<h1>New Contact Message</h1>

<p>Name: <%= @contact.first_name %> <%= @contact.last_name %></p>
<p>Email: <%= @contact.email %></p>
<p>Phone: <%= @contact.phone %></p>
<p>Message: <%= @contact.message %></p>