<h1>New Reservation Message</h1>

<p>Name: <%= @reservation.first_name %> <%= @reservation.last_name %></p>
<p>Email: <%= @reservation.email %></p>
<p>Party Size: <%= @reservation.party_size %></p>
<p>Reservation Time: <%= @reservation.reservation_time %></p>
<p>Special requests:</p>
<p><%= @reservation.special_requests %></p>