<h1>New Reservations Message</h1>

<p>Name: <%= @reservation.first_name %> <%= @reservation.last_name %></p>
<p>Email: <%= @reservation.email %></p>
<p>Phone: <%= @reservation.phone %></p>
<p>Party Size: <%= @reservation.party_size %></p>
<p>Time And Date: <%= @reservation.date_time %></p>
<p>Remarks: <%= @reservation.remarks %></p>