<!DOCTYPE html>
<html>
  <head>
    <title>Haveli</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css' rel='stylesheet' />
  </head>

  <body>
    <%# <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <script>
      setTimeout(() => {
        document.querySelector('.alert').classList.add('fade')
      }, 5000);
    </script>
    <%= yield %>
    <footer class="text-center text-orange-20000" style="background-color: #1c1917;">
        <div class="text-center text-orange-200 p-4" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-orange-200" href="https://www.linkedin.com/in/alihamzaasam/">Ali</a>
        </div>
    </footer>
  </body>
</html>
